*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 2rem;
}

.words {
  max-width: 50rem;
  margin: 5rem auto;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
}

p {
  margin: 0 0 3rem;
}

.words:before {
  content: '';
  position: absolute;
  width: 0.4rem;
  top: 0;
  left: 3rem;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}